.container{

}
.left{
	
}
.tab{
	float: left;
}
.tab-2{

}
.tab-2 input{
	display: block;
}
tr{
	transition:all .25s ease-in-out
}
tr:hover{
	background-color:#EEE;
	ursor: pointer
}
.myTable{
	border:1px;
	margin-left:5px;
}
.button1{
	margin-top:5px;
	padding:9px;
	background-color:#4CAF50;
	color:white;
}
.button2{
	margin-top:5px;
	padding:5px;
	background-color:#f44336;
	color:white;
}
.font{
	font-family:Courier New, monospace;
}
th{
	font-family:Courier New, monospace;
}
.clock{
	float:right; 
	font-family:courier; 
	font-size:120%; 
	margin-right:7%;
}
.cartel{
	font-family:impact; 
	font-size: 255%;
}
body{
	margin-left:15%;
	margin-right:25%;
	margin-top:2%;
}
